    
<div class="card">
    <h3 class="card-title text-center">name: {{item.name}}</h3>
    <div class="card-body">
        <a [routerLink]="['/products', item.id]">
            <img src="{{item.src}}" [ngStyle]="{width: '250px'}" alt="">
        </a>
    </div>
    <strong>price: {{item.price}}</strong>
    <div class="card-footer">
        <a class="btn btn-info " href="#" (click)="viewDetail(item.id)">View More</a>
        <button class="btn btn-primary ">Add To Cart</button>
    </div>
</div>
